on: [push]

jobs:
  template-sync:
    runs-on: ubuntu-latest
    name: test template-sync
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Template Sync
        uses: ./
        id: template-sync
        with:
          template: "arlac77/template-esm-only"
